﻿@using System.ComponentModel;
@using Microsoft.JSInterop;
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase

    <div class="container-fluid">
        @Body
    </div>

@code {
    
}