<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/account/layout.css"> <!-- CSS fayl manzilini to'g'rilang -->
    <title>Account Layout</title>
</head>
<body>
    <div class="account-container">
        @RenderBody() <!-- Bu yerda sahifa kontenti chiqariladi -->
    </div>
</body>
</html>
