<div>
    <ul id="messagesList"></ul>
    <input type="text" id="userInput" placeholder="Name" />
    <input type="text" id="messageInput" placeholder="Message" />
    <button id="sendMessageButton">Send</button>
</div>

